.sectionThree {
  margin: 100px auto;
}

.sectionThree__h1 {
  color: #0D0D17;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  z-index: 3333;
}

.speaker {
  margin-top: 28px;
  display: flex;
  gap: 4px;
  justify-content: center;
}

.speaker__image {
  width: 458px;
  height: 400px;
}