.sectionEight {
  position: relative;
  max-width: 830px;
  z-index: 999;
  margin: 0 auto;
  margin-top: -68px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 21px -6px rgba(0, 0, 0, 0.12);
  // margin-bottom: 120px;
  transition: .3s;

  &:hover {
    box-shadow: 0px 8px 30px -10px rgba(0, 0, 0, 0.3);
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 48px 70px;

    &-images {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 391px;
      min-height: 68px;
    }

    &-texts {
      margin-top: 108px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__text {
        color: #4A4A4A;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
      }
    }

    &-cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      gap: 8px;

      &-card {
        max-width: 166.5px;
        border-radius: 6px;
        border: 1px solid #F3F3F3;
        background: #FFF;
        transition: .3s;

        &:hover {
          border: 1px solid #E43030;
        }

        &-active {
          position: relative;
          border-radius: 6px;
          border: 1px solid #E43030;

          &__svg {
            position: absolute;
            top: -10px;
            right: -10px;
            width: 24px;
            height: 24px;
          }
        }

        &__container {
          padding: 12px;
        }

        &__title {
          color: #0D0D17;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
        }

        &__price {
          min-width: 45px;
          height: 26px;
          display: inline-flex;
          padding: 3px 10px;
          // align-items: flex-start;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 40px;
          background: #0D0D17;

          &-text {
            color: #FFF;
            font-family: Inter;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.13px;
            text-align: center;
          }
        }

        &__more {
          cursor: pointer;
          max-width: 166.5px;
          padding: 2px 12px;
          background-color: #F3F3F3;
          display: flex;
          align-items: center;
          gap: 4px;

          &-text {
            color: #4A4A4A;
            font-family: Inter;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
          }

          &-image {
            width: 16px;
            height: 16px;
            flex-shrink: 0;
          }
        }
      }
    }

    &-form {
      &__contentInputs {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 40px;

        &-h3 {
          color: #4A4A4A;
          font-family: Inter;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
        }

        &-input {
          color: #A9AAB2;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;

          &-external {
            max-width: 320px;
            max-height: 48px;
            flex-shrink: 0;
            border-radius: 6px;
            border: 1px solid #D0D4E1;
            background: #FFF;
            padding: 12px;
          }
        }
      }

      &__block {
        margin-top: 40px;
        max-width: 690px;
        background: #F3F3F3;
        padding: 20px;

        &-text {
          color: #0D0D17;
          font-family: Inter;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;
        }
      }

      &__count {
        display: flex;
        flex-direction: column;

        &-info {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &-text {
            color: #0D0D17;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
          }

          &-h3 {
            color: #0D0D17;
            text-align: right;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
          }
        }

        &-promo {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &__input {
            color: #A9AAB2;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;

            &-external {
              padding: 16px 18px;
              width: 261px;
              max-height: 60px;
              border-radius: 6px;
              border: 1px solid #D0D4E1;
              background: #FFF;
            }
          }
        }
      }
    }
  }

  &__line {
    margin-top: 41px;
    min-width: 690px;
    height: 1px;
    background: #E5E5E5;
  }

}

.main-container-forEight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-column-gap: 50px;
}

.sectionEight__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;

  &-content {
    position: relative;
    max-width: 840px;
    max-height: 580px;
    margin: 15% auto;
    background-color: #fff;
    padding: 24px 32px 78px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    &-image {
      max-width: 100%;
      height: 100px;
      position: absolute;
      left: 0;
      top: 0;
    }

    &-close {
      cursor: pointer;
      position: absolute;
      right: 2%;
      top: 3%;
      height: 16px;
      width: 16px;
      display: block;
      z-index: 333;
    }

    &__block {
      display: flex;
      align-items: center;
      gap: 12px;
      z-index: 333;
    }

    &__h3 {
      color: #666;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    &__line {
      margin-top: 32px;
      min-width: 576px;
      height: 1px;
      flex-shrink: 0;
      background: #E5E5E5;
    }

    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &-Child {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

}

.externalEigth-h3 {
  margin-top: 32px;
}